/* --------utility styles start-------- */
@font-face {
  font-family: 'HelveticaNeueLTPro-Hv';
  src: url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Hv.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Hv.otf')  format('opentype'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Hv.woff') format('woff'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Hv.ttf')  format('truetype'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Hv.svg#HelveticaNeueLTPro-Hv') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-Bd';
  src: url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Bd.woff') format('woff'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Bd.ttf')  format('truetype'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans-400Regular';
  src: url('../assets/fonts/SinkinSans/sinkinsans-400regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/SinkinSans/sinkinsans-400regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans-700Bold';
  src: url('../assets/fonts/SinkinSans/sinkinsans-700bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/SinkinSans/sinkinsans-700bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltpro-md';
  src: url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Md.eot') format('embedded-opentype'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Md.ttf') format('truetype'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Md.woff') format('woff'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Md.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.layout-column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.layout-align-center-start {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.cur-pointer {
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(74, 74, 74, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
.custom-scrollbar::-webkit-scrollbar-thumb:window-inactive{
  background: rgba(74, 74, 74, 0);
}
.custom-scrollbar--hide::-webkit-scrollbar {
  width: 0;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.padding-top-20 {
  padding-top: 2rem;
}
.margin-top-20 {
  margin-top: 2rem;
}
.margin-top-30 {
  margin-top: 3rem;
}
.margin-top-40 {
  margin-top: 4rem;
}
.ks-button {
  background: transparent;
  color: white;
  border: 2px solid #007bc3;
  border-radius: 3px;
  padding: 2rem 0.5em;
  font-size: 2.4rem;
  transition: all 0.2s;
  outline: 0;
  box-shadow: none;
}
.ks-button:hover, .ks-button:focus, .ks-button:active {
  background: #007bc3;
  transition: all 0.2s;
}
.display-block {
  display: block;
}
.full-width {
  width: 100%;
}
/* --------utility styles end-------- */

/* --------App styles start-------- */

html {
	position: relative;
	width: 100%;
	box-sizing: border-box;
  min-height: 100%;
  height: 100%;
	font-family: sans-serif;
	font-size: 0.625rem;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
}

.ks-body {
  background-image: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  overflow: hidden;
  font-family: 'helveticaneueltpro-md';
  line-height: 1.5;
  height: 100%;
}

.ks-header {
  padding-top: 4rem;
  position: fixed;
  max-width: 68rem;
  left: 50%;
  top: 0;
  width: 100%;
  transform: translateX(-50%);
  border-radius: 0 0 10rem 10rem;
  z-index: 2;
  transition: all 0.2s;

  color: white;
  text-align: center;
  font-family: 'HelveticaNeueLTPro-Hv';
}

.ks-header h1 {
  margin: 0;
  font-size: 4.8rem;
}

.ks-header--notitle {
  height: 50px !important;
  overflow: hidden;
  transition: all 0.2s;
}

.ks-content {
  margin: 0 auto;
  padding: 0 2.4rem;
  overflow: hidden;
}

.ks-section {
  z-index: 1;
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 10rem;
  height: 100%;
  display: none;
  text-align: center;
  position: relative;
  /* flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start; */
}

.ks-section--mobile {
  text-align: center;
  color: white;
}

.ks-section--mobile h2{
  font-size: 2.4rem;
}

.ks-section--mobile h3{
  font-size: 2rem;
}

.ks-section--mobile h3, .ks-section--mobile h2{
  font-weight: normal;
}

.ks-section svg {
  max-width: 100%;;
  /* -webkit-box-flex: 1;
  box-sizing: border-box;
  -webkit-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px; */
}

.ks-section .start-over {
  margin-top: 0;
  position: absolute;
  bottom: 8rem;
  width: 8rem;
  left: calc(50%);
  transform: translateX(-50%);
}

.ks-actions {
  flex-direction: row;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.ks-section2, .ks-section3 {
  max-width: 63rem;
  margin-top: 5rem;
}
.ks-section2 {
  padding-left: 2rem;
}
.ks-section2 .start-over {
  left: calc(50% - 4.5%);
}
.ks-section2 .ks-section--desktop, .ks-section3 .ks-section--desktop {
  height: 100%;
}
.ks-section--desktop > svg, .ks-section--desktop > svg {
  height: 100%;
}
.ks-section4 > div:first-child {
  /* max-width: 35rem; */
  margin: 0 auto;
}
.ks-section7 > div:first-child {
  /* max-width: 17rem; */
  margin: 0 auto;
}
.selected-icon {
  max-width: 35rem;
  margin: 0 auto;
}
.ks-actions {
  margin-top: 3rem;
}
.ks-actions div svg {
  width: 50%;
}
.ks-actions > div:last-child {
  text-align: right;
}
.ks-actions > div:last-child svg {
  width: 40%;
}
.ks-actions--mobile {
  margin-top: 3rem;
}
.ks-action a{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: row;
  display: flex;
  margin-bottom: 4rem;
}
.ks-action svg {
  width: 8rem;
  transform: scale(1.5);
}
.ks-action svg:last-child {
  transform: scale(1.2);
}
.ks-section3 > div:last-child {
  margin-top: -5rem;
}
.ks-section1 {
  max-width: 80rem;
  display: block;
}

.ks-section2 .selected-icon {
  padding-left: 5rem;
}

.section-selector svg {
  width: 75%;
}
.sub-wofer-icon {
  width: 70%;
}

/* mobile style start */
@media only screen and (max-width: 767px) {
  /* .ks-body {
    overflow: auto;
  } */
  .ks-header {
    width: 30rem;
    margin: 0 auto;
    left: initial;
    transform: none;
    position: static;
  }
  .ks-header h1 {
    font-size: 2rem;
  }
  .ks-header--notitle {
    height: 2rem !important;
    border-radius: 0;
  }
  .ks-body {
    background-image: none;
    background-color: black;
    overflow: auto;
  }
  .ks-content {
    height: auto!important;
    padding-bottom: 2.4rem;
    max-width: 45rem;
  }
  .ks-section {
    margin-top: 3rem !important;
  }
  .ks-section2 {
    padding-left: 0;
  }
  .ks-section7, .ks-section4 {
    margin-top: 8rem;
  }
  .ks-section--desktop {
    display: none;
  }
  .ks-section3 > div:last-child {
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  .ks-section--mobile {
    display: none;
  }
}
/* mobile style end */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .ks-section1 .ks-section--desktop {
    height: 50%;
  }
}

/* --------App styles end-------- */