/* --------utility styles start-------- */
.layout-column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.layout-align-center-start {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.cur-pointer {
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(74, 74, 74, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
.custom-scrollbar::-webkit-scrollbar-thumb:window-inactive{
  background: rgba(74, 74, 74, 0);
}
.custom-scrollbar--hide::-webkit-scrollbar {
  width: 0;
}

/* --------utility styles end-------- */

/* --------App styles start-------- */
html {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	min-height: 100%;
	font-family: sans-serif;
	font-size: 0.625rem;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
}

.ks-body {
  background-image: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: top left;
}

.ks-header {
  padding-top: 4rem;
  position: fixed;
  max-width: 96rem;
  left: 50%;
  top: 0;
  width: 100%;
  margin-bottom: 4rem;
  transform: translateX(-50%);
  background: black;
  border-radius: 0 0 10rem 10rem;
  z-index: 2;
}

.ks-content {
  margin: 0 auto;
  max-width: 96rem;
  margin-top: 35rem;
}

.ks-section {
  height: 100vh;
  padding: 4rem 0;
  z-index: 1;
}

/* --------App styles end-------- */