/* --------utility styles start-------- */
@font-face {
  font-family: 'HelveticaNeueLTPro-Hv';
  src: url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Hv.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Hv.otf')  format('opentype'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Hv.woff') format('woff'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Hv.ttf')  format('truetype'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Hv.svg#HelveticaNeueLTPro-Hv') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-Bd';
  src: url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Bd.woff') format('woff'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Bd.ttf')  format('truetype'),
       url('../assets/fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans-400Regular';
  src: url('../assets/fonts/SinkinSans/sinkinsans-400regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/SinkinSans/sinkinsans-400regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans-700Bold';
  src: url('../assets/fonts/SinkinSans/sinkinsans-700bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/SinkinSans/sinkinsans-700bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.layout-column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.layout-align-center-start {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.cur-pointer {
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(74, 74, 74, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
.custom-scrollbar::-webkit-scrollbar-thumb:window-inactive{
  background: rgba(74, 74, 74, 0);
}
.custom-scrollbar--hide::-webkit-scrollbar {
  width: 0;
}

/* --------utility styles end-------- */

/* --------App styles start-------- */

html {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	min-height: 100%;
	font-family: sans-serif;
	font-size: 0.625rem;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
}

.ks-body {
  background-image: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

.ks-header {
  padding-top: 4rem;
  position: fixed;
  max-width: 68rem;
  left: 50%;
  top: 0;
  width: 100%;
  margin-bottom: 4rem;
  transform: translateX(-50%);
  border-radius: 0 0 10rem 10rem;
  z-index: 2;
  transition: all 0.2s;
}

.ks-header--notitle {
  height: 50px !important;
  overflow: hidden;
  transition: all 0.2s;
}

.ks-content {
  margin: 0 auto;
  padding: 2.4rem;
}

.ks-section {
  padding: 4rem 0;
  z-index: 1;
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 10rem;
  /* height: 100vh; */
  display: none;
}

.ks-actions {
  flex-direction: row;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.ks-section2, .ks-section3 {
  max-width: 65rem;
  margin-top: 5rem;
}

.ks-section7 > div:first-child {
  max-width: 20rem;
  margin: 0 auto;
}
.selected-icon {
  max-width: 30rem;
  margin: 0 auto;
}
.ks-actions {
  margin-top: 3rem;
}
.ks-actions div svg {
  width: 50%;
}
.ks-actions > div:last-child {
  text-align: right;
}
.ks-actions > div:last-child svg {
  width: 40%;
}
.ks-section3 > div:last-child {
  margin-top: -5rem;
}
.ks-section1 {
  max-width: 80rem;
  display: block;
}

.ks-section2 .selected-icon {
  padding-left: 5rem;
}

/* mobile style start */
@media only screen and (max-width: 767px) {
  .ks-header {
    width: 30rem;
  }
  .ks-header--notitle {
    height: 2rem !important;
  }
}
/* mobile style end */

/* --------App styles end-------- */